ntTraceControl/packages/
ntTraceControl/obj/
ntTraceControl/bin/
ntTraceControl/.vs/

Translator/packages/
Translator/obj/
Translator/bin/
Translator/.vs/

*.dll
*.pdb
*.xml
*.user

ntTraceControlInstall/bin/
ntTraceControlInstall/obj/

.vs/
packages/